[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
notion-client = "*"
python-dotenv = "*"
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
slowapi = "*"

[dev-packages]
flake8 = "*"
yapf = "*"
pep8-naming = "*"
flake8-import-order = "*"
mypy = "*"
isort = "*"

[requires]
python_version = "3.11"
